/* nav */
 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4CAF50;
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  nav ul li a:hover {
    background-color: #111;
  }
  * {
    margin: 0;
    padding: 0;
  }
  .logins{
    position: absolute;
    right:0;
    font-size:50px;
    
  }
  .rightclass{
    float:right;
  }
  .leftclass{
    float:left;
  }

  /* end of nav */

  /* basic elements */
  html,
  body {
  width: 100%;
  height: 100%;
  }

  /* end of basic elements */

  .container{
    padding-left:50px;
    padding-right: 50px;
    margin:auto;
}

/* banner */
.hero-image {
  
  background-image: linear-gradient(rgba(0, 0, 1, 0.5), rgba(0,0,0,0.5)), url("vote.jpg");
  /* Set a specific height */
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-box{
  border:1px solid rgba(255,255,255,0.5);
  height:300px;
  width:450px;
  position:absolute;
  top:29%;
  left:32%;
  background-color: rgba(0,0,0,0.7);
}
/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 900;

}
.hero-text h2 {
    font-size:25px;

}
.hero-text p{
    font-size: 18px;

}

.hero-text button {

    padding: 9px;
    border:1px Solid white;
}

/* end of banner styles */

/* Bordered form */
.userforms{
  width:500px;
  height:500px;
  margin:auto;
  padding-top:5%;
}
.heading h3{
  font-size:35px;
  color:#45a049;
  text-align: center;
}
.heading p{
  
  font-size:22px;
  text-align: center;
}
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
  * {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2
  }

  /* politicians lists */
   /* politician lists styles */
   * {
    box-sizing: border-box;
  }
  
  .politicians ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .politicians ul li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
  }
  .votebutton{
    width:auto;
    margin-top:-5px;
    height:30px;
    padding: 0px 5px;
    
  }

  /* offices tables */
  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
 /* politicians forms */
 * {
  box-sizing: border-box;
}

.politiciansforms input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.politiciansforms label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.politiciansforms input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.politiciansforms input[type=submit]:hover {
  background-color: #45a049;
}

.politiciansforms .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.row{
  display: flex;
  flex-direction: row;
  
}
.col-2{
  grid-column:auto/span 2;
}
.col-3{
  grid-column:auto/span 3;

}
.col-4{
  grid-column:auto/span 4;
}

/* cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 250px;
  margin:10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.rowheader{
  text-align:center;
  margin:auto;
  color:#45a049;
}
.passport img{
  width:100px;
  height:100px;
}
